/**** Colors UPJV 
 GRIS : #3B3B39;
 BLEU : #217B8A
 BLEU SIDEBAR : #EFF5F5
****/

/***** Mansour CSS ****/
.section{
    width: 75%; 
    height: 10%; 

    background-color: #217B8A;
    color: #f8f6f6; 
    border : solid, black;
    display: flex;
    margin: auto;

    font-size: 16px; 
    font-weight: bold; 
}

.sidebar{
height: 100%;
width: 25%;
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: #EFF5F5;
border-right: solid #217B8A;
position: fixed;
font-family: "Consolas";
}

.photo {
    width: 60%; 
    height: 20%; 
    border-radius: 30%;
    background-color: #EFF5F5;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    height: 25%;
    width: 25%;
}

/**** Ryan  CSS ****/

.mainBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400%;
    width: 100%;
    border: solid, red;
    margin-left: 25%;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150%;
    width: 100%;
    overflow: visible;
    border: red;
    padding-left: 3%;

}
 

a{
    margin: auto;
}

/*** PRESENTATION ***/

#block1{
    height: 100%;
    width: 100%;
    padding-top: 4%;
    display: flex;
    flex-direction: column ;
}

#block1-first-row{
    display: flex;
    flex-direction: row;
    justify-content: normal;
    height: 15%;
    width: 100%;
}

#second-row{
    height: 10%;
}

#third-row{
    height: 60%;
}

#div-Nom-Prenom{
    display: flex;
    flex-direction: row ;
    width: 70%;
}
#prenom{
    font-size: 60px;
    color : black;
}
#nom{
    margin-left: 1%;
    font-size: 60px;
    color: #217B8A;
}

#div-download{
    width: 30%; 
    margin-left: 25%;
}

.text-download{
    margin-left: 3%;
    width: 50%;
}

.text-download:hover{
    text-decoration: underline;
}


/**** EXPERIENCES ****/

#block2{
}

#exp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.block2-first-row{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-exp{
    height: 50%;
    width: 50%;
    margin-left: 20%;
}

.card{
    width: 30%;
    height: 100%;
    margin: auto;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
    font-size: 13px;
}

.card-body{
    background-color: #EFF5F5;
    height: 30%;
    overflow: hidden;
}

/**** COMPETENCES ****/

#block3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}

#div-accordeon{
    height: 145%;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    overflow: visible;
}

.sub{
    visibility: hidden;
    overflow: hidden;
    height: 0%;
    transition-duration: 0.5s;
    transition-property: 'height';
    margin-top: 10px;
}

.comp{
    height: 10%;
    width: 100%;
    margin: auto;
    background-color: #EFF5F5;
    border: solid #217B8A;
    text-align: center;
    font-size: x-large;
    font-family: "Consolas";
}

h1{
    font-family: "Consolas";
}

.table{
    width: 60%;
    margin: auto;
}

.test{
    background-color: #EFF5F5;
    text-align: center;
    border: solid #217B8A;
    width: 20%;
    color: black;
    font-size: 25px;
    margin: auto;
}
